
/* Teme */

:root,
[data-theme="default"] {
    --primary: whitesmoke;
    --secondary: #84a98c;
    --tertiary: #52796f;

    --color_4: #187492;
    --color_5: #b85310;

    --color_ative: #b85310;
    --color_inactive: #b97a4f;
    --color_active_text: white;
    --color_inactive_text: white;
    --color_on: #5f8110;
    --color_off: #941313;
    --color-on-off-text: white;
    --text-selection: white;

    --pre_color: #b6aa91;

    --back_1: #2f3e46;
    --back_2: #354f52;
    --back_3: #b8995b;

    --ui-background: #ffffff;
    --ui-text: #2f3e46;
    --ui-border: #cad2c5;

    --modal-background: #ffffff;
    --modal-text: #2f3e46;
}

[data-theme="classic"] {
    --primary: #ffffff;
    --secondary: #f3f4f6;
    --tertiary: #d1d5db;

    --color_4: #2563eb;
    --color_5: #c23333;

    --color_ative: #c23333;
    --color_inactive: #ad6363;
    --color_active_text: white;
    --color_inactive_text: black;
    --color_on: #118f3f;
    --color_off: #c41b1b;
    --color-on-off-text: white;
    --text-selection: white;

    --pre_color: #b68d8d;

    --back_1: #b9b9b9;
    --back_2: #727272;
    --back_3: #444444;

    --ui-background: #f9fafb;
    --ui-text: #171717;
    --ui-border: #d1d5db;

    --modal-background: #ffffff;
    --modal-text: #171717;
}

[data-theme="dark"] {
    --primary: #f3f4f6;
    --secondary: #374151;
    --tertiary: #4b5563;

    --color_4: #38bdf8;
    --color_5: #f59e0b;

    --color_ative: #f59e0b;
    --color_inactive: #f3c16a;
    --color_active_text: black;
    --color_inactive_text: black;
    --color_on: #0b7432;
    --color_off: #720e0e;
    --color-on-off-text: white;
    --text-selection: black;

    --pre_color: #e6d1ac;
    
    --back_1: #111827;
    --back_2: #1f2937;
    --back_3: #374151;

    --ui-background: #1f2937;
    --ui-text: #f3f4f6;
    --ui-border: #4b5563;

    --modal-background: #1f2937;
    --modal-text: #f3f4f6;
}

[data-theme="purple"] {
    --primary: #f5f3ff;
    --secondary: #4c3f69;
    --tertiary: #4f368a;

    --color_4: #38bdf8;
    --color_5: #dab616;

    --color_ative: #dab616;
    --color_inactive: #ecdea0;
    --color_active_text: black;
    --color_inactive_text: black;
    --color_on: #1b8860;
    --color_off: #9c3040;
    --color-on-off-text: white;
    --text-selection: black;

    --pre_color: #cec28d;

    --back_1: #1e1b2e;
    --back_2: #312e46;
    --back_3: #441c85;

    --ui-background: #2a263d;
    --ui-text: #f5f3ff;
    --ui-border: #51466d;

    --modal-background: #2a263d;
    --modal-text: #f5f3ff;
}


.theme-selector-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.theme-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.theme-container:hover
{
    transform: scale(110%);
    transition: scale 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selected-theme-container
{
    background-color: var(--color_5);
    border: 1px solid var(--color_4);
    transform: scale(110%);
}

.theme-header
{
    
}

.theme-thumbnail
{
    width: 100px;
    height: 120px;
    background-color: var(--back_1);
    padding: 4px;
}

.theme-thumbnail-header
{
    width: 35px;
    height: 10px;
    border-radius: 2px 2px 0 0;
    background-color: var(--back_3);
}

.theme-thumbnail-toolbar
{
    width: 100%;
    height: 5px;
    border-radius: 0 2px 2px 2px;
    background-color: var(--back_3);
}

.theme-thumbnail-page-container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-thumbnail-page
{
    width: 50%;
    height: 60%;
    background-color: white;
    box-shadow: 2px 2px 2px 1px gray;
}

@font-face { 
    font-family: 'HeaderFont'; 
    src: url('./fonts/PatuaOne-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: var(--back_1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.root
{
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Header */

.header-container
{
    display: flex;
    z-index: 999;
    position: sticky;
    background-color: var(--back_1);
    top: 0;
    flex-direction: column;
    width: 100%;
    font-family: 'HeaderFont';
    padding: 4px;
    user-select: none;
}

.main-header-container
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
}

.header {
    width: auto;
    color: var(--primary);
    background-color: var(--back_3);
    margin: 5px 5px 0 5px;
    padding: 8px;
    border-radius: 25px 25px 0 0;
}

.sub-header {
    font-size:large;
    color: var(--color_5);
}

.options-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: start;
    padding: 0 5px 0 5px;
    align-items: center;
}

.options-toolbar
{
    width: 100%;
    background-color: var(--back_3);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 25px 25px 25px;
    padding: 8px;
}

.customization-container
{
    display: flex;
    justify-content: end;
    flex: 1;
    order: 2;
    gap: 4px;
}

.toolbar-element
{
    font-family: 'HeaderFont';
    font-weight: lighter;
    background-color: var(--ui-background);
    color: var(--ui-text);
    border-radius: 8px;
    font-size: 105%;
    padding: 4px;
    text-align: center;
    border: none;
    min-width: 15%;
}

.page-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    text-align: justify;
}

/* Header - logo*/

.main-header {
    font-size: 250%;
}

/* Highlight level kreiranje i prikaz dugmadi */

.levels-fab-container
{
    /* visibility: hidden; */
    background-color: var(--back_3);
    padding: 6px;
    border-radius: 16px 16px 0 0;
    display: block;
    position: fixed;
    right: 24px;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    z-index: 999;
}

.create-level-btn
{
    order: 1;
    background-color: var(--ui-background);
    color: var(--ui-text);
    border: none;
    margin: 4px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 90%;
    padding: 8px; 
}

.expand-levels-btn
{
    order: 999;
    background-color: var(--back_3);
    border: 1px solid white;
    color: var(--primary);
    border: none;
    margin: 4px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 90%;
    padding: 8px;
    height: 100%;
}

.highlight-levels-container
{
    transition: max-height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    order: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--back_3);
    max-height: 60vh;
    width: 100%;
}

.no-height
{
    max-height: 0;
}

.highlight-level-btn-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.highlight-level-btn
{
    border: none;
    /* color: var(--back_2); */
    font-weight: bold;
    font-size: 90%;
    padding: 2px;
}

.higlight-type-ai
{
    width: 100%;
    border-radius: 6px;
}

.higlight-type-custom
{
    flex: 1;
    border-radius: 6px 0 0 6px;
}

.level-info-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    overflow: hidden;
}

.level-info-header
{
    font-size: 80%;
    font-weight: bold;
}

.level-info-type
{
    font-size: 70%;
}

.level-info-percent
{
    font-size: 69%;
}

.highlight-edit-btn
{
    border: none;
    color: var(--back_2);
    font-weight: bold;
    font-size: 90%;
    padding: 2px;
    border-radius: 0 6px 6px 0;
    width: 25%;
}

.highlight-custom-on
{
    background-color: var(--color_on);
    color: white;
}

.highlight-active
{
    background-color: var(--color_ative);
    color: var(--color_active_text);
}

.highlight-inactive
{
    background-color: var(--color_inactive);
    color: var(--color_inactive_text);
}

.highlight-unhighlighted
{
    background-color: white;
    color: black;
}

button:hover
{
    opacity: 95%;
    transform: scale(105%);
}

/* Header - select a file*/

.file-input{
    display: none;
}

.file-input-container
{
    display: flex;
    flex: 1;
    justify-content: start;
    order: 1;
    gap: 4px;
}

.file-input-lbl {
    /* background-color: var(--ui-background);
    color: var(--ui-text);
    border-radius: 8px;
    width: auto;
    font-size: 100%;
    padding: 6px; */
}

.file-input-lbl:hover
{
    opacity: 95%;
    transform: scale(105%);
}

/* Header - prikaz imena fajla*/

.file-name-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
}

.file-name-header
{
    background-color: var(--back_3);
    border-radius: 0 0 25px 25px;
    width: auto;
    padding: 4px 20px 8px 20px;
    font-size: 120%;
    color: var(--primary);
    /* color: var(--primary); */
    font-weight: lighter;
}

/* Page rendering */

.page-renderer-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

hr {
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.page-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top center; /*Prilikom zoom-iranja koja je referentna tacka*/
    padding: 8px;
    overflow: scroll;
}

.paper {
    width: 794px; /*Hardcoded velicina papira*/
    height: 1123px;   /* A4 na 96dpi */
    background: white;
    box-shadow: 5px 5px 5px 2px gray;
    overflow: scroll;
    box-sizing: border-box;
    display: none; /* Ne vidi se stranica koja nije aktivna*/
    padding: 8px;
}

.paper.active-page {
    display: block;
}

.page-content {
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
    /* overflow: scroll; */
    font-size: 18px;
}

.page-content ::selection
{
    background-color: var(--color_5);
    color: var(--text-selection);
}

.page-welcome-main-header
{
    font-family: 'HeaderFont';
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding: 16px;
}

.page-welcome-sub-header
{
    font-family: 'HeaderFont';
    text-align: center;
    font-size: 150%;
    font-weight: lighter;
    padding: 12px;
}

.page-welcome-logo
{
    padding: 16px;
    width: 30%;
    height: auto;
}

.page-nav-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.nav-btn
{
    background-color: var(--ui-background);
    color: var(--ui-text);
    border: none;
    border-radius: 4px;
    padding: 8px;
    min-width: 2%;
}

.page-indicator
{
    background-color: var(--ui-background);
    color: var(--ui-text);
    border-radius: 4px;
    padding: 4px;
    font-size: 110%;
    user-select: none;
    cursor: pointer;
    font-family: 'HeaderFont';
    min-width: 4%;
}

.token-highlight-mode /*Prilikom custom (rucnog) highlight-a*/
{
    user-select:all;
    cursor: pointer;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    font-size: medium;
    background: var(--pre_color); 
    color: black; 
    padding: 16px; 
    border-radius: 8px; 
    overflow-x: auto;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}



/* @media screen and (max-width: 1100px) {
    .main-container{
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }

    .fields-container, .results-container {
        width: 100%;
        padding: 16px;
    }

    .fields-container, .polje-container, .upit-container, .btn-container, .btn-file-container, .btn-index-container {
        justify-content: center;
        align-items: center;
    }

    .polje-select, .upit-input {
        width: 25%; 
    }
} */


/* Modal za kreiranje novog levela */

.modal-container
{
    background-color: var(--modal-background);
    color: var(--modal-text);
    border: 1px solid var(--ui-border);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HeaderFont';
    user-select: none;
    min-width: 30%;
}

.modal-text-container
{
    display: flex;
    justify-content: center;
}

.modal-text
{
    text-align: center;
}

.modal-form-container
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 4px 40px 4px;
}

.modal-form-group-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 4px 8px 4px;
    align-items: center;
}

.form-type-radio
{
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-form-type-radio
{
    padding: 8px;
    width: 25%;
    border-radius: 4px;
    background-color: var(--color_inactive);
    color: var(--color_inactive_text);
}

.custom-form-type-radio-selected
{
    background-color: var(--color_ative);
    color: var(--color_active_text);
}

.modal-btn-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 6px;
    width: 100%;
}

.modal-btn-confirm
{
    width: 25%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background-color: var(--color_on);
    color: var(--color-on-off-text);
}

.modal-btn-cancel
{
    width: 25%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background-color: var(--color_off);
    color: var(--color-on-off-text);
}

.modal-info-text
{
    padding: 8px;
}

.modal-input
{
    width: 25%;
    text-align: center;
    border: 4px solid var(--ui-border);
    font-family: 'HeaderFont';
    font-weight: bold;
    font-size: 105%;
    background-color: var(--ui-background);
    color: var(--ui-text);
}

.modal-input
{
    outline: none;
}

/* Modal za testiranje */

.test-container
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: center;
    padding: 12px;
    width: 100%;
}

.question-container
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.question-text
{
    width: 100%;
    text-align: center;
    background-color: var(--pre_color);
    border-radius: 2px;
    color: black;
    padding: 2px;
}

.answers-container
{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: start;
    align-items: center;
    padding: 4px;
}

.test-radio
{
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-test-radio
{
    padding: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--color_inactive);
    color: var(--color_inactive_text);
}

.custom-test-radio:hover
{
    transform: scale(105%);
    transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.test-points
{
    background-color: var(--color_5);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    font-size: 120%;
}

.answer-correct
{
    background-color: var(--color_on);
}

.answer-incorrect
{
    background-color: var(--color_off);
}

/* Overlay za loading */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.7);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.star{
    font-size:64px;
    color:var(--color_4);
    animation:spin 1.2s linear infinite;
}

@keyframes spin{
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}

/*Overlay za yes/no*/
.dialog-container
{
    background-color: var(--modal-background);
    color: var(--modal-text);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HeaderFont';
    user-select: none;
}

.dialog-text-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.dialog-btn-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 6px;
    width: 100%;
   
}

.dialog-btn-yes
{
    width: 25%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background-color: var(--color_on);
    color: var(--color-on-off-text);
}

.dialog-btn-no
{
    width: 25%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    background-color: var(--color_off);
    font-weight: bold;
    color: var(--color-on-off-text);
}